@*@model UpdatePasswordViewModel

    @{
        ViewData["Title"] = "Изменить пароль";
    }

    <div class="content shadow-sm">
        <div class="content-header rounded-top">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm my-3">
                    <h6 class="content-title">
                        <i class="fas fa-info-circle pr-1"></i>
                        Безопасность
                    </h6>
                </div>
            </div>
        </div>
        <form asp-area="" asp-controller="MyProfile" asp-action="ChangePassword" method="post">
            <div class="content-body">
                <div class="list-header">
                    <i class="fas fa-key pr-1"></i>
                    Изменить пароль:
                </div>
                <ul class="list">
                    <li>
                        <div class="form-group mb-2">
                            <label asp-for="Password" class="mb-1">Новый пароль</label>
                            <input asp-for="Password" type="password" class="form-control form-control-sm" />
                            <span class="text-danger small" asp-validation-for="Password"></span>
                        </div>
                    </li>
                    <li>
                        <div class="form-group mb-2">
                            <label asp-for="PasswordConfirm" class="mb-1">Повторите новый пароль</label>
                            <input asp-for="PasswordConfirm" type="password" class="form-control form-control-sm" />
                            <span class="text-danger small" asp-validation-for="PasswordConfirm"></span>
                        </div>
                    </li>
                </ul>
                <div asp-validation-summary="All"></div>
            </div>
            <div class="content-footer rounded-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-sm my-2 text-center text-sm-left">
                    </div>
                    <div class="col-sm-auto my-2">
                        <button type="submit" class="btn btn-sm btn-info btn-block">
                            Сохранить
                            <i class="fas fa-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>*@
